/logs
/config
crash_log*.txt
qt_crash_log.txt
*.log

.venv
**/__pycache__/

.idea/
venv/

# 音乐缓存
cache/


/models
*.tar.bz2
*.zip
*.tar.gz

# 打包相关
/build
/dist

# MACOS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

xiaozhi.spec

/installer
# Environment
.env
.env.local
